.holder
{
	display: flex;
	height: 100%;
	overflow: hidden;
}

.input, .button
{
	display: inline-block;
	height: 100%;
	padding:0;
	margin:0;
}

.input
{
	width: 100%
}

.button
{
	flex-basis: 100px
}